*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}


.login-body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.user-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

main{
    padding: 20px;
}

input, select{
    padding: 5px;
    width: 300px;
}
button{
    padding: 5px;
    cursor: pointer;

}
textarea{
    min-width: 300px;
    min-height: 250px;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 0;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    gap: 10px;
    width: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.card span{
    text-transform: uppercase;
    font-weight: 500;
}
.card span:last-child{
    font-size: 40px !important;
    font-weight: bolder;
}